.slider-container {
    position: relative;

    .slider-arrow {
        position: absolute;
        height: 79px;
        width: 46px;
        top: 50%;
        transform: translateY(-50%);
    }
    .arrow-left {
        cursor: pointer;
        left: 15px;
    }
    .arrow-right {
        cursor: pointer;
        right: 15px;
    }

    .slider{
        height: 415px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .cont-container {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $colorwhite;
        p {
            font-size: 18px;
        }
    }
}