.description-container {
    width: 100%;
    margin-bottom: -30px;
  
    .main-deroulant {
      display: flex;
      align-items: center;
      padding: 10px 20px 10px 10px;
      border-radius: 10px;
      background: $color1;
      color: $colorwhite;
      position: relative;
  
      h2 {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
      }
  
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
  
        &.arrowImg-active {
           transform: rotate(-180deg);
         }

         &.arrowImg {
          transform: rotate(0deg);
         }
      }
    }
  
    .collapse-active {
      max-height: 250px;
      padding: 15px 8px;
      opacity: 1;
      transition: opacity 1s ease,max-height 0.5s ease;
      margin-bottom: 30px;
     
    }
  
    p,ul {
      background: $color2;
      padding: 15px 8px;
      font-size: 1rem;
      line-height: 25px;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      
      
    }
  }

  @media screen and (max-width: 600px) 
  {
    .description-container {

      .main-deroulant {
        height: 30px;
        padding: 10px;
      }

      h2 {
        font-size:13px ;
      }
      img {
        width: 16px;
        height: 16px;
      }
    } 
    
  }