footer {
    background : $colorblack;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 66px 0 29px;

    .footer-logo {
        img {
            height: 40px;
        }
    }

    .subtitle {
        color : $colorwhite;
    }
}

@media screen and (max-width: 600px) {

    footer {
        margin-top : 30px;
        padding: 60px 120px 58px;
        justify-content: flex-end;
        gap:0;

        .subtitle {
            font-size: 12px;
            text-align: center;
        }
    }
    
}