nav {
    max-width: 1240px;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .logo {
        height: 68px;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap:57px;
    
        a {
            text-decoration: none;

                li {
                    font-size: 24px;
                    list-style: none;
                    color: $color1;
                    cursor: pointer;
            }   
        }
    .nav-active {
        position: relative;

       &::after {
              content: "";
              height: 2px;
              width: 0;
              background: $color1;
              position: absolute;
              border-radius: 10px;
              bottom: 0px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-animation: anim 0.3s ease forwards;
              animation: anim 0.6s ease forwards;
      
              @-webkit-keyframes anim {
                to {
                  width: 100%;
                }
              }
              @keyframes anim {
                to {
                  width: 100%;
                }
              }
            }
            }
}
}

@media screen and (max-width : 1250px) {
  nav {
    padding:0 25px;
  }  
}

@media screen and (max-width : 600px) {

  nav {
    padding : 0 20px;

    .logo {
      height: 46px;

      img {
        height: 100%;
      }
    }
  }

  .navigation {
    gap:26px;

    a {
        li {
          transition: 0.2s;
          font-size: 1rem;
        }
      }

      @media  screen and (max-width: 300px) {

      nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap : 20px;
      }    
      }
      }
  
}