@font-face {
    font-family: "font1";
    src: url(../assets/font/Montserrat-VariableFont_wght.ttf);
}

$color1 : #FF6060;
$color2 : #F6F6F6;
$colorblack : #000;
$colorwhite : #FFF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top:  45px;
    font-family: "font1";
}
